.heart {
  height: 55px;
  width: 55px;

  background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
  cursor: pointer;
}

.heartRed {
  height: 55px;
  width: 55px;

  background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 2900%;
  cursor: pointer;
}

.animate {
  animation: heart-burst 0.7s steps(28) 1;

  /* make the heart stay red after animation is complete */
  animation-fill-mode: forwards;
}

.animateUnlike {
  animation: heart-unlike 0.35s /* steps(28) 1 */;
  animation-fill-mode: forwards;
}

@keyframes heart-unlike {
  0% {
    background-position: left;
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
    background-position: left;
  }
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    background-position: right;
  }
}

/* ------------------Modal radio buttons---------------------- */
/* Hide the default radio button */
.radioLabel input[type="radio"] {
  appearance: none;
}

/* Create a custom radio button */
.radioLabel input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.2px solid black; /* Set the border color to black */
  background-color: white;

  /* align items... */
  margin-bottom: -2px;
}

/* Style the custom radio button when checked */
.radioLabel input[type="radio"]:checked::before {
  background-color: #1db954; /* Set the background color to black */
}
